$black-color: #000000;
$white-color: #ffffff;

$blue-color: #316099;
$blue-color-light: #0D89B0;
$blue-color-light-x1: #7FAFF7;
$blue-color-light-x2: #A5C7F9;
$blue-color-light-x3: #88B5BF;
$blue-color-light-x4: #C0DBD9;

$green-color: #8AD191;
$green-color-light: #B3F95A;
